.story {
  &__pictures {
    background-color: $color-primary;
    grid-column: full-start / col-end 4;
  }

  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;
    padding: 6rem 8vh;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: flex-start;

    display: grid; // these codes do the same thing as above flexbox codes
    align-content: center;
    justify-items: start;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
